#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: dimgray;
}

h1 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#header {
    position: fixed;
    display: flex;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    width: 100%;
    background-color: #25509e;
}

#title {
    width: 33%;
    text-align: center;
}

#navigation-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 33.33%;
    height: 100%;
}

.navigation-item {
    margin-right: 1vw;
}

#header-space {
    width: 33.33%;
}

#home_body {
    display: flex;
    flex-direction: column;
}

.background-image {
    height: 100vh;
    width: 100%;
}

#introduction-area {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    background-color: #5796b0;
}

.breaker {
    height: 430px;
    width: 100%;
    position: absolute;
    z-index: 0;
}

#breaker_1 {
    background-color: #162958;
}

#introduction-text {
    display: flex;
    height: fit-content;
    width: 30vw;
    color: azure;
    flex-direction: column;
    text-align: right;
    margin: 4vh 3vw;
    z-index: 1;
}

#introduction-title {
    font-size: 2.8vw;
    margin: 0;
}

#introduction-paragraph {
    font-size: 1.6vw;
}

#profile-picture {
    height: 32vw;
    margin-left: 3vw;
    margin-top: 4vh;
    z-index: 1;
}

#brick-pattern-div {
    background-color: #5796b0;
    padding-top: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.brick-pattern-img {
    width: 22vw;
    height: 45vw;
    padding-bottom: 2vw;
}

.brick-pattern-col {
    display: flex;
    flex-direction: column;
}

#brick-pattern-col-2 {
    padding-top: 15vw;
}

#brick-pattern-col-4 {
    padding-top: 5vw;
}

#footer {
    display: flex;
    height: 300px;
    background-color: lightslategray;
}
