#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: dimgray;
}

h1 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#header {
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: #25509e;
}

.background-image {
    width: 1920px;
    max-width: 100%;
    height: 1080px;
    max-height: 100%;
}