#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: dimgray;
}

h1 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

a{
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#header {
    position: fixed;
    display: flex;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    width: 100%;
    background-color: rgba(29, 33, 37, 0.85);
}

#title {
    width: 33%;
    text-align: center;
}

#navigation-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 33.33%;
    height: 100%;
}

.navigation-item {
    margin-right: 1vw;
    transition: 0.2s ease-in-out;
    color: #C7D1DB;
}

.navigation-item:hover {
    color: rgba(130, 112, 219, 1);
}

#header-links {
    display: flex;
    width: 33.33%;
    justify-content: flex-start;
    align-items: center;
}

.header-icon {
    height: 4vh;
    margin-left: 0.8vw;
}


#home_body {
    display: flex;
    flex-direction: column;
    transition: .2s;
}

.background-image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

#introduction-area {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    background-color: #C7D1DB;
}

.breaker {
    height: 25vw;
    width: 100%;
    position: absolute;
    z-index: 0;
}

#breaker_1 {
    background-color: #2C333A;
}

#introduction-text {
    display: flex;
    height: fit-content;
    width: 30vw;
    color: azure;
    flex-direction: column;
    text-align: right;
    margin: 4vh 3vw;
    z-index: 1;
}

#introduction-title {
    font-size: 2.8vw;
    margin: 0;
}

#introduction-paragraph {
    font-size: 1.6vw;
}

#profile-picture {
    height: 28vw;
    margin-left: 3vw;
    margin-top: 6vh;
    z-index: 1;
}

#brick-pattern-div {
    background-color: #C7D1DB;
    padding-top: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.brick-pattern-img {
    max-width: 24vw;
    transition: 0.3s;
    margin-bottom: 1vw;
    filter: drop-shadow(0 0 15vw #222831) grayscale(0);
}

.brick-pattern-img:hover {
    transform: scale(0.97);
}

.brick-pattern-col {
    display: flex;
    flex-direction: column;
}

#brick-pattern-col-2 {
    padding-top: 7vw;
}

#brick-pattern-col-4 {
    padding-top: 14vw;
}

#inspect-image-mode-div {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 5;
    background: rgba(30, 30, 30, 0.5);
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#close-inspect-icon {
    position: absolute;
    width: 2vw;
    height: 2vw;
    margin-left: 96vw;
    margin-top: 10vh;
}

#close-inspect-icon:hover {
    cursor: pointer;
}

#inspect-image-arrows-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#inspect-image-arrows-container {
    display:flex;
    justify-content: space-between;
}

.move-arrow {
    width: 1.3vw;
    margin-right: 1vw;
    margin-left: 1vw;
}

.move-arrow:hover {
    cursor: pointer;
}

.inspect-image-arrow-div {
    margin-top: 10vh;
}

#inspected-img {
    margin-top: 10vh;
    height: 85vh;
    filter: drop-shadow(0 0 5rem black);
}

.blur {
    filter: blur(7px);
    transition: .2s;
}

#footer {
    display: flex;
    height: 300px;
    background-color: lightslategray;
}
